<!DOCTYPE html>
<html>
<head>
 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="../assets/mycustomcss.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- this includes the responsive bootstrap styles to allow the website to scale accordingly to screen size -->
    <link href="../assets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon and icon section -->
   
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
          <!-- this is my code for the navbar it contains all the links and information needed to navigate through the page, this complete section
          continues throughout my whole site -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- this is my main section within the navbar, it contains all the page navigation links -->
          <a class="brand" href="../welcome/index" title="Return to Home Page">Oval Ski Club</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="../welcome/index" accesskey="h" title="Home Page"><i class="icon-home icon-inverse"></i><em>H</em>ome</a></li>
              <li><a href="../welcome/about" accesskey="a" title="About us"><em>A</em>bout</a></li>
               <!--<li><a href="contact" accesskey="1" title="Contact Us" >Get In Touch!</a></li> -->
              <li><a class="active" href="../newevents/clubevents" title="Social Events & Club Holiday" accesskey="s">Get <em>S</em>ocial!</a></li>
            
              </li>
              <!-- this is my dropdown box within my navbar -->
               <li class="dropdown">
                <a  href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="i" title="FAQ & Information">FAQ & <em>I</em>nformation <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="../welcome/faq" accesskey="q" title="FAQ Page" >FA<em>Q</em>s</a></li>
                  <li><a href="../welcome/clubsessions" title="Information on the sessions we run!" accesskey="c"><em>C</em>lub Sessions</a></li>
                  <li><a href="../welcome/racingteam" title="Our superb racing team!" accesskey="o"><em>O</em>ur Racing Team</a></li>
                  <li class="divider"></li>
                  <li><a href="accesskeyinfo" title="information on how to use access keys" accesskey="l"><em>L</em>ist of Access Keys</a></li>
                  </ul>
            </ul>
            <!-- this displays the sign in sction on the right hand side of the navbar -->
            <form class="navbar-form pull-right" action="index">
              <input class="span2" type="text" title="Please Enter Your Email Address" placeholder="Email">
              <input class="span2" type="password" title="Please Enter Your Password" placeholder="Password">
              <button <input type="submit" value="Submit" title="Sign In">Sign in</button>
            </form>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   <div class="container">
           <p> <%= flash.notice %> </p>
           <%= yield %> 


<br>
<br>
<br>
<br>
<br>
<br>

    
    <footer>
    	<hr>
        <p>&copy; Oval Ski Club 2012 &nbsp<center><i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Find and Like us on Facebook!</center></a></p>
      </footer>

   </div> <!-- /container -->



        <!-- this places a footer at the bottom of the page, it contains the "Copyright" and the Connect to facebook link -->
   



     
    
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- added new jquery files to allow for JS actions, for dropdown actions and other java actions -->
   <script text/javascript src="../assets/jquery-1.8.2.min.js"></script>
    <script text/javascript src="../assets/bootstrap.min.js"></script>
    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>
<script>
   $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });
   </script>




     
 

  </body>
</html>




     
 


 



